<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
</head>
<body>
<a th:href="@{/}">На главную</a>
<div th:if="${error}">
  <p>Ошибка входа (неправильное имя пользователя или пароль)</p>
</div>
<h1>Форма входа</h1>
<form th:action="@{/login}" method="post">
  <label for="username">Имя пользователя:</label>
  <input type="text" id="username" name="username" required />
  <br/>
  <label for="password">Пароль:</label>
  <input type="password" id="password" name="password" required />
  <br/>
  <button type="submit">Войти</button>
</form>
<p>Еще не зарегистрированы? <a href="/register">Зарегистрируйтесь сейчас</a></p>
</body>
</html>