<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Форма заказа</title>
</head>
<body>
<form action="#" th:action="@{/order}" th:object="${order}" method="post">
    <select th:field="*{user}">
        <option value="" th:each="user : ${users}"
                th:value="${user.id}" th:text="${user.name}">Имя пользователя</option>
    </select>
    <textarea th:field="*{description}" placeholder="Описание пожеланий"></textarea>
    <div th:each="service : ${T(com.example.YourApplication).ADDITIONAL_SERVICES}">
        <input type="checkbox" th:field="*{additionalServices}" th:value="${service}" />
        <label th:text="${service}">Дополнительная услуга</label>
    </div>
    <button type="submit">Отправить</button>
</form>
</body>
</html>